html { 
    height: 100%; /*definit la hauteur de la page*/
    width: 100%; /*definit la largeur de la page*/
 }
 body { /*donne des propriétés à la page*/
     height: 100%;
     margin-right:0; /* permet d'enlever les bordure auto du navigateur */
     margin-left:0; 
     margin-top:0;
     background-color: black;
     background: no-repeat top left url("https://jheral.labo-ve.fr/hourofcode/fond.jpg"); /* place le fond d'ecran */
     background-size: 1280px 800px;
 }
 
 .conteneur {
   display: inline-flex; /* flexbox */
   background-color: #fe6824;  /* met la couleur du fond du bandeau titre */
   width: 1280px; /* étale le bandeau sur toute la largeur de l'écran */
  justify-content: center; /* centre le texte du bandeau */
 }
 
 .conteneur_img {
    margin-top: 350px; /* place l'image en bas */
 }
 
 #rocket { /*ici on définit les propriétés de la fusée*/
     width: 300px; /*sa largeur*/
     height: 300px; /*sa hauteur*/
     position: absolute; /*sa position sur la page*/
     top: 70%; /*par rapport au haut de la page*/
     left: 0px; /*et par rapport à la gauche de la page*/
     transform: scale(0.8); /*définit la taille de la fusée: si on augmente la valeur on augmente la taille de la fusée*/
     z-index:0;
 }
 
 #boom{ /*donne des propriétés à l'image d'explosion*/
    display: none;
    position: absolute; /* Se place sur la page sans prendre en compte l'emplacement des autres élements */
    z-index:1; /* place les images les unes par rapport aux autres: 1 est devant 0 */
 }
 #groboom{ 
    display: none;
    position: absolute;
    z-index:1;
 }
 .bouton { /*définit les propriétés des boutons: taille, couleur, forme*/

	width:85px;
	height:85px;
	background:#fafafa;
	box-shadow:2px 2px 8px #aaa;
	font:bold 13px Arial;
	border-radius:50%;
	color:#555;
}
#start{ /*définit la taille et la position du bouton*/
    position: absolute;
    left: 1000px;
    top: 300px;
}
#reset{ /*définit la taille et la position du bouton*/
    position: absolute;
    left: 1000px;
    top: 200px;
}
.boutonrouge{ /*définit la taille, la position, la forme et la couleur du bouton*/
    position: absolute;
    left: 1100px;
    top: 700px;
    width:85px;
	height:85px;
	background-color:red;
	box-shadow:2px 2px 8px red;
	font:bold 13px Arial;
	border-radius:50%;
	color:red;
}
#text{ /*donne des propriétés au texte*/
    text-align: center;
    font : small-caps bold 24px/1 sans-serif;
    color : red;
    font-size: 40px;
    width: 40%;
    height: 50px;
    position : absolute;
    left: 300px;
    top: 200px;
    z-index: 2;
}
/* En css, on utilise /* pour commenter; on referme le commentaire avec */